<!-- CATEGORY -->
{% extends 'shared/base.html' %}

{% block meta %}
<title>Category</title>
{% endblock meta %}

{% block content %}
{
<div class="container">
    <div class="tag-box">
        <h1>{{ category_object.name }}</h1>
    </div>
    <div class="row">
        {% for product in category_object.product_set.all %}
        <div class="col-md-3" class="product-card">
            <div class="card">
                <img class="card-img-top" src="{{ product.image.url }}" height="300" alt="Card image cap">
                <div class="card-body">
                    <a href="" class="product-title">
                        <h5 class="card-title">{{ product.name }}</h5>
                    </a>
                    <p class="card-text">{{ product.description }}</p>
                    <p>
                        <b class="me-2">₹ {{ product.price }}</b>&period;
                        <span class="ms-2 text-primary">{{ product.category.name }}</span>
                    </p>
                    <div class="list-button">
                        <button class="wishlist-btn"><a href="{% url 'wishlist_add' id=product.id %}"><i
                                    class="fa-solid fa-heart"></i>
                            </a></button>
                        <button class="cartlist-btn"><a href="{% url 'cart_add' id=product.id %}">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if messages %}
        {% for message in messages %}
        <script>alert('{{ message }}');</script>
        {% endfor %}
        {% endif %}
    </div>
    
        {% if messages %}
        {% for message in messages %}
        <script>alert('{{ message }}');</script>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock content %}

