{% extends 'shared/base.html' %}

{% block meta %}

<title>Register | Urbanworn Clothing Co</title>

{% endblock meta %}

{% block content %}
<div class="container">
    <div class="form-div">
        <div class="col-md-6 shadow">
            <div class="form-content">
                <div class="text-center"><h1>Register</h1></div> 
            <form action="register" method="POST">
                {% csrf_token %}
                <div class="mx-5 my-5">
                    <div class="form-group pb-2">
                        <label for="first_name">{{ form.first_name.label }}</label>
                        <input class="form-control" type="text" name="first_name" id="first_name">
                    </div>
                    <div class="form-group pb-2">
                        <label for="last_name">{{ form.last_name.label }}</label>
                        <input class="form-control" type="text" name="last_name" id="last_name">
                    </div>
                    <div class="form-group pb-2">
                        <label for="email">{{ form.email.label }}</label>
                        <input class="form-control" type="text" name="email" id="email">
                    </div>
                    <div class="form-group pb-2">
                        <label for="username">{{ form.username.label }}</label>
                        <input class="form-control" type="text" name="username" id="username">
                    </div>
                    <div class="form-group pb-2">
                        <label for="password">{{ form.password.label }}</label>
                        <input class="form-control" type="password" name="password" id="password">
                    </div>
                    <div class="form-group pb-2">
                        <label for="confirm_password">{{ form.confirm_password.label }}</label>
                        <input class="form-control" type="password" name="confirm_password" id="confirm_password">
                    </div>
                    <div class="signup-div">
                        <button class="submit-button" type="submit">Sign Up</button>
                    </div> 
                    <div class="text-center">
                        Already a member? <a href="{% url 'login' %}">Login</a> instead.
                    </div>
                </div>       
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}