<!-- PUBLISHER -->
{% extends 'shared/base.html' %}

{% block meta %}
<title>User Feedback</title>
{% endblock meta %}

{% block content %}

<div class="container">
    <div class="tag-box">
        <h1>FEEDBACK</h1>
    </div>
    <div class="form-div">
        <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Feedback</th>
                </tr>
            </thead>
            <tbody>
                {% for i in object_list %}
                <tr>
                    <td>{{ i.email }}</td>
                    <td>{{ i.message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    {% endblock content %}